@import "../../index.css";

.blog-container {
	width: 100%;
}

.blog-header {
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
	padding: 50px;
	background-color: var(--secondary-theme);
	color: var(--contrast-theme);
}

.blog-header__link {
	width: 150px;
}

.blog-header__link > .blog-card__link:hover {
	color: var(--main-theme);
}

.blog-header__signin-link {
	justify-self: flex-end;
}

.blog-header__auth-block {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
}

.blog-header__no-auth {
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-end;
	align-items: center;
}

.blog-header__greeting {
	color: var(--main-theme);
}

.blog-list-wrapper {
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
	padding: 40px;
}

.blog-card {
	padding: 20px 40px;
	cursor: pointer;
}

.blog-card__list-item {
	list-style-type: none;
	display: flex;
	flex-flow: column wrap;
	justify-items: flex-start;
	align-items: flex-start;
}

.blog-card__item {
	margin: 15px 0;
	line-height: 1.5;
}

.blog-card__links-block {
	align-self: flex-end;
	margin-top: 15px;
}

.blog-card__link {
	text-decoration: none;
	color: inherit;
}

.blog-card__link:hover,
.blog-card__edit-btn:hover,
.blog-card__delete-btn:hover,
.blog-card__create-btn:hover {
	color: var(--secondary-theme);
}

.blog-card__card-id {
	width: 100%;
	opacity: 0.7;
	text-align: right;
	margin-bottom: 10px;
}

.blog-card__large-wrapper {
	width: 100%;
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
	padding: 40px 0;
}

.blog-card__large {
	width: 70%;
	height: 70%;
	line-height: 2.5;
}

.blog-card__text-block,
.blog-card__edit-text-area,
.blog-card__delete-text-area,
.blog-card__create-text-area {
	height: 200px;
	margin: 30px 0;
	line-height: 1.5;
}

.blog-card__text-block {
	overflow: auto;
}

.blog-card__edit-form,
.blog-card__delete-form,
.blog-card__create-form {
	width: 100%;
	height: 70%;
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
}

.blog-card__edit-input,
.blog-card__delete-input,
.blog-card__create-input {
	width: inherit;
	border-bottom: 1px solid var(--contrast-theme);
	padding: 20px 0;
	margin: 10px 0;
}

.blog-card__edit-text-area,
.blog-card__delete-text-area,
.blog-card__create-text-area {
	width: inherit;
}

.blog-card__edit-btn,
.blog-card__delete-btn,
.blog-card__create-btn {
	background-color: inherit;
	font-size: inherit;
	cursor: pointer;
}