@import "../../index.css";

.admin-container {
	width: 100%;
  height: inherit;
  position: relative;
}

.admin-header {
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
	padding: 50px;
	background-color: var(--secondary-theme);
	color: var(--contrast-theme);
  position: absolute;
  z-index: 999;
}

.admin-header__title {
  color: var(--main-theme);
}

.admin-header__title-link {
  text-decoration: none;
  color: inherit;
}

.admin-header__title-link:hover {
  color: var(--contrast-theme);
}

.admin__large-wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  position: absolute;
}

.admin-header__link {
	width: 150px;
}

.admin-header__inner-link {
  text-decoration: none;
  color: var(--contrast-theme);
}

.admin-header__inner-link:hover {
	color: var(--main-theme);
}

.admin-header__auth-block {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
}

.admin-dashboard__aside {
  width: 15%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  background-color: var(--contrast-theme);
}

.admin_dashboard__aside-list {
  text-decoration: none;
}

.admin_dashboard__aside-list-item {
  list-style-type: none;
  color: var(--main-theme);
  padding: 30px;
  letter-spacing: 2px;
}

.admin_dashboard__aside-list-link,
.admin-dashboard__list-link {
  text-decoration: none;
}

.admin_dashboard__aside-list-link {
  color: var(--main-theme);
}

.admin_dashboard__aside-list-link:hover,
.admin-dashboard__list-link:hover {
  color: var(--secondary-theme);
}

.admin-dashboard__main {
  width: 85%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 170px 40px 30px;
} 

.admin-dashboard__section-title {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.admin-dashboard__title,
.admin-dashboard__title__single {
  opacity: 0.7;
	margin-bottom: 10px;
}

.admin-dashboard__title__single {
  width: 100%;
  text-align: right;
}

.admin-dashboard__list {
	text-decoration: none;
}

.admin-dashboard__list-item {
  list-style-type: none;
  display: flex;
  flex-flow: column wrap;
  justify-items: flex-start;
  align-items: flex-start;
}

.admin-dashboard__list-info {
  margin: 15px 0;
  line-height: 1.5;
}

.admin-dashboard__list-link {
  color: var(--contrast-theme);
}

.admin-dashboard__list-link__compound {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  margin: 50px 0;
}

.admin-dashboard__list-links-block {
  align-self: flex-end;
  margin-top: 15px;
}

.admin-dashboard_table-icon {
  width: 15px;
  height: 15px;
  cursor: pointer
}

.admin-dashboard__table {
  width: 100%;
}

.admin-dashboard__table-header {
  text-align: left;
}

.admin-dashboard__table-cell {
  min-width: 100px;
}

.admin-user-creation__title,
.admin-user-update__title,
.admin-user-delete__title,
.admin-post-creation__title,
.admin-post-edit__title,
.admin-post-delete__title,
.admin-role-creation__title,
.admin-role-edit__title,
.admin-role-delete__title {
  color: var(--contrast-theme);
}

.admin-user-creation__form,
.admin-user-update__form,
.admin-user-delete__form,
.admin-post-creation__form,
.admin-post-edit__form,
.admin-post-delete__form,
.admin-role-creation__form,
.admin-role-edit__form,
.admin-role-delete__form {
	height: fit-content;
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
	line-height: 2.5;
}

.admin-user-creation__form,
.admin-user-update__form,
.admin-user-delete__form,
.admin-role-creation__form,
.admin-role-edit__form,
.admin-role-delete__form {
  width: 50%;
}

.admin-post-creation__form,
.admin-post-edit__form,
.admin-post-delete__form {
  width: 100%;
}

.admin-user-creation__form__labelled-block,
.admin-user-update__form__labelled-block,
.admin-user-delete__form__labelled-block,
.admin-role-creation__form__labelled-block,
.admin-role-edit__form__labelled-block,
.admin-role-delete__form__labelled-block {
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: baseline;
  margin: 10px 0;
}

.admin-user-creation__form__label,
.admin-user-update__form__label,
.admin-user-delete__form__label {
	width: 100px;
}

.admin-role-creation__form__label,
.admin-role-edit__form__label,
.admin-role-delete__form__label {
  width: 150px;
}

.admin-user-creation__form__input,
.admin-user-creation__form__input-radio,
.admin-user-update__form__input,
.admin-user-update__form__input-radio,
.admin-user-delete__form__input,
.admin-user-delete__form__input-radio,
.admin-post-creation__form__input,
.admin-post-edit__form__input,
.admin-post-delete__form__input,
.admin-role-creation__form__input,
.admin-role-creation__form__input-radio,
.admin-role-edit__form__input,
.admin-role-edit__form__input-radio,
.admin-role-delete__form__input,
.admin-role-delete__form__input-radio {
	flex-grow: 1;
	padding: 10px;
  opacity: 0.5;
}

.admin-user-creation__form__input,
.admin-user-update__form__input,
.admin-user-delete__form__input,
.admin-post-creation__form__input,
.admin-post-edit__form__input,
.admin-post-delete__form__input,
.admin-role-creation__form__input,
.admin-role-edit__form__input,
.admin-role-delete__form__input {
  border-bottom: 1px solid var(--contrast-theme);
  border-radius: 10px;
}

.admin-post-creation__form__input,
.admin-post-edit__form__input,
.admin-post-delete__form__input {
  width: 100%;
}

.admin-user-creation__form__btn__btn-block,
.admin-user-update__form__btn__btn-block,
.admin-user-delete__form__btn__btn-block,
.admin-post-creation__form__btn__btn-block,
.admin-post-edit__form__btn__btn-block,
.admin-post-delete__form__btn__btn-block,
.admin-role-creation__form__btn__btn-block,
.admin-role-edit__form__btn__btn-block,
.admin-role-delete__form__btn__btn-block {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
}

.admin-user-creation__form__btn__btn,
.admin-user-update__form__btn__btn,
.admin-user-delete__form__btn__btn,
.admin-post-creation__form__btn__btn,
.admin-post-edit__form__btn__btn,
.admin-post-delete__form__btn__btn,
.admin-role-creation__form__btn__btn,
.admin-role-edit__form__btn__btn,
.admin-role-delete__form__btn__btn {
	cursor: pointer;
	font-weight: 700;
	letter-spacing: 3px;
	text-transform: uppercase;
}

.admin-user-creation__form__btn__btn:hover,
.admin-user-update__form__btn__btn:hover,
.admin-user-delete__form__btn__btn:hover,
.admin-post-creation__form__btn__btn:hover,
.admin-post-edit__form__btn__btn:hover,
.admin-post-delete__form__btn__btn:hover,
.admin-role-creation__form__btn__btn:hover,
.admin-role-edit__form__btn__btn:hover,
.admin-role-delete__form__btn__btn:hover {
	color: var(--secondary-theme);
}

.admin-dashboard__links-block {
	align-self: flex-end;
	margin: 15px 0 10px;
}

.admin-dashboard__post {
  width: 85%;
  height: 85%;
  line-height: 2.5;
}

.admin-dashboard__link {
	text-decoration: none;
	color: inherit;
}

.admin-dashboard__link:hover {
	color: var(--secondary-theme);
}

.admin-dashboard__text-block,
.admin-post-creation__form__text-area,
.admin-post-edit__form__text-area,
.admin-post-delete__form__text-area {
  width: 100%;
  min-height: 50vh;
	max-height: 80vh;
	margin-top: 30px;
	line-height: 1.5;
}

.admin-dashboard__text-block {
  overflow-y: auto;
  margin: 40px 0;
}