*, * + * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--main-theme: rgb(255, 255, 255, 0.85);
	--contrast-theme: rgb(0, 0, 0, 0.85);
	--secondary-theme: rgb(255, 77, 1);
	--blogcard-width: 250px;
}

body {
	width: 100%;
	height: 100vh;
	background-color: var(--main-theme);
	font-family: Bahnschrift, sans-serif;
	font-size: 0.8rem;
	color: var(--contrast-theme);
}

.divider-major {
	opacity: 0.5;
	margin: 10px 0;
}

.divider-minor {
	opacity: 0.2;
	margin-bottom: 55px;
}

.margin-divider {
	margin: 10px 30px;
}

.notification-success {
	color: rgb(5,196,188);
}

.blog-container {
	width: 100%;
}

.blog-list-wrapper {
	width: inherit;
	display: grid;
	grid-template-columns: repeat(auto-fill, var(--blogcard-width));
	grid-template-rows: 1fr;
	gap: 55px 45px;
	padding: 50px;
}

.blog-card {
	width: var(--blogcard-width);
	height: 150px;
	padding: 20px 40px;
	box-shadow: 1px 1px 10px 2px var(--contrast-theme);
	border-radius: 10px;
	cursor: pointer;
	transition: transform 0.3s ease-in-out;
	line-height: 1.5;
}

.blog-card:hover {
	transform: scale(1.1);
}

.blog-card__item {
	list-style-type: none;
}

.blog-card__item:last-of-type {
	margin-top: 15px;
	text-align: right;
}

.blog-card__links-block {
	margin-top: 35px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
}

.blog-card__link {
	text-decoration: none;
	color: inherit;
}

.blog-new__link {
	padding: 50px;
}

.blog-card__link:hover,
.blog-card__edit-btn:hover,
.blog-card__delete-btn:hover,
.blog-card__create-btn:hover {
	color: var(--secondary-theme);
}

.blog-card__card-id {
	opacity: 0.7;
	text-align: right;
	margin-bottom: 10px;
}

.blog-card__large-wrapper {
	width: 100%;
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
	padding: 40px 0;
}

.blog-card__large {
	width: 70%;
	height: 70%;
	line-height: 2.5;
}

.blog-card__text-block,
.blog-card__edit-text-area,
.blog-card__delete-text-area,
.blog-card__create-text-area {
	height: 200px;
	margin: 30px 0;
	line-height: 1.5;
}

.blog-card__edit-form,
.blog-card__delete-form,
.blog-card__create-form {
	width: 100%;
	height: 70%;
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
}

.blog-card__edit-input,
.blog-card__delete-input,
.blog-card__create-input {
	width: inherit;
	appearance: none;
	outline: none;
	border: none;
	border-bottom: 1px solid var(--contrast-theme);
	padding: 20px 0;
	margin: 10px 0;
}

.blog-card__edit-text-area,
.blog-card__delete-text-area,
.blog-card__create-text-area {
	width: inherit;
	appearance: none;
	outline: none;
	border: none;
}

.blog-card__edit-btn,
.blog-card__delete-btn,
.blog-card__create-btn {
	appearance: none;
	outline: none;
	border: none;
	background-color: inherit;
	font-size: inherit;
	cursor: pointer;
}